In [6]:
import pandas as pd
path = 'testing/2021-03-12.xlsx'

df = pd.read_excel(path, index_col=0)
colu = df.columns.tolist()
colu.remove('pos')
colu.append('pos')

df = df[colu]

df

            002603.XSHE  000001.XSHE  pos
2021-03-12     0.068027          NaN    1
2021-03-18          NaN     0.047326    1
2021-03-24     0.060241          NaN    1
2021-03-30          NaN     0.047148    1
2021-04-06     0.059102          NaN    1
2021-04-12          NaN     0.046860    1
2021-04-16     0.056754          NaN    1
2021-04-22          NaN     0.043459    1
2021-04-28     0.052770          NaN    1
2021-05-07          NaN     0.042571    1
2021-05-13     0.053706          NaN    1

In [ ]:
df.fillna(value=0, inplace=True)
df

In [44]:
import pymongo
db = pymongo.MongoClient(host='LocalHost', port=27017).get_database('daily')

In [59]:
# 从MongoDB取出数据
col = db.get_collection('daily')
data = col.find({
    'code': {'$in': ['600048.XSHG', '000001.XSHE', '000002.XSHE', '600000.XSHE']},
    'date': {'$gte': pd.to_datetime('2021-01-04'), '$lte': pd.to_datetime('2021-12-31')}          # 最后一列是持现金比例
}, projection={'_id': 0, 'high':0, 'low': 0, 'volume':0, 'money':0, 'factor':0})
data = pd.DataFrame(list(data))
data

            code       date   open  close
0    000001.XSHE 2021-12-24  17.33  17.31
1    000001.XSHE 2021-12-23  17.40  17.32
2    000001.XSHE 2021-12-22  17.62  17.39
3    000001.XSHE 2021-12-21  17.49  17.59
4    000001.XSHE 2021-12-20  17.56  17.52
..           ...        ...    ...    ...
709  600048.XSHG 2021-01-08  14.07  14.27
710  600048.XSHG 2021-01-07  14.31  14.15
711  600048.XSHG 2021-01-06  14.11  14.31
712  600048.XSHG 2021-01-05  14.27  14.18
713  600048.XSHG 2021-01-04  14.73  14.36

[714 rows x 4 columns]

In [113]:
import os
class PnL:

    def __init__(self, path:str, start_date:str, end_date:str, host='LocalHost', port=27017):
        # 创建好与mongodb的连接。  我们归因只用到日频
        self.client = pymongo.MongoClient(host=host, port=port)
        db = self.client.get_database('daily')
        self.db = db
        col0 = db.get_collection('tradedays')

        col0 = col0.find({'date':{
            "$gte": pd.to_datetime(start_date),
            "$lte": pd.to_datetime(end_date)
        }})
        self.tradedays = [i['date'] for i in col0]

        # 先把原始的pnl数据读取出来
        re = []
        files = os.listdir(path)
        for f in files:
            re.append(pd.read_excel(path+'/'+f, index_col=0))
        raw = pd.concat(re)

        # 记录下调仓日
        self.adj_days = raw.index

        # 调整原始数据的形式
        column = raw.columns.tolist()
        column.remove('pos'); column.append('pos')
        self.hold = raw.loc[:, column]
        self.hold.columns = column[:-1] + ['cash']
        self.hold.loc[:,'cash'] = 1 - self.hold.loc[:,'cash']

        # 现在开始调整self.hold的形式
        self.hold.fillna(value=0, inplace=True)
        self.hold = pd.DataFrame(data=self.hold, index = self.tradedays)
        self.hold.fillna(method='ffill', inplace=True)


    def generate_portfolio_ret(self, method=None):
        # 从MongoDB取出数据
        col = self.db.get_collection('daily')
        data = col.find({
            'code': {'$in': self.hold.columns.tolist()[:-1]},
            'date': {'$gte': self.tradedays[0], '$lte': self.tradedays[-1]}          # 最后一列是持现金比例
        }, projection={'_id': 0, 'code':1, 'date':1, 'close':1})
        data = pd.DataFrame(list(data))
        # 整理成需要的dataframe样子
        data = _reformater_(data)

        df = data * self.hold
        for i in range(1, len(self.adj_days)):
            ii = self.adj_days[i]

            d = df.index.tolist().index(ii)
            try:
                ni = self.adj_days[i+1]
                nd = df.index.tolist().index(ni)
                df.iloc[d: nd-1] = df.iloc[d: nd-1] * df.iloc[d-1].sum()
            except IndexError:
                df.iloc[d: ] = df.iloc[d: ] * df.iloc[d-1].sum()

        self.portfolio_value = df
        return df

    def


    def sharpe_ratio(self):
        pass

    def calmar_ratio







def _reformater_(data: pd.DataFrame):
    secs = data.code.drop_duplicates().tolist()
    indexes = data.date.drop_duplicates().tolist()
    df_re = pd.DataFrame(columns=secs+['cash'], index=indexes)

    for s in secs:
        tmp = data.loc[(data.code==s),['date', 'close']]
        tmp.index = tmp.date.tolist(); tmp.drop(labels='date', axis=1,inplace=True)
        df_re.loc[:,s] = tmp.values
    df_re.loc[:, 'cash'] = 1
    return df_re

In [161]:
obj = PnL(path='testing', start_date='2021-01-04', end_date='2021-10-01')
obj.generate_portfolio_ret()

In [227]:
df = obj.hold * obj.tmp

In [228]:
# 初次调仓不用管，从第二次开始调整
for i in range(1, len(obj.adj_days)):

    ii = obj.adj_days[i]

    d = df.index.tolist().index(ii)
    try:
        ni = obj.adj_days[i+1]
        nd = df.index.tolist().index(ni)
        df.iloc[d: nd-1] = df.iloc[d: nd-1] * df.iloc[d-1].sum()
    except IndexError:
        df.iloc[d: ] = df.iloc[d: ] * df.iloc[d-1].sum()

In [229]:
df

            000001.XSHE  002603.XSHE  cash
2021-01-04     0.000000     0.992222   0.0
2021-01-05     0.000000     1.015000   0.0
2021-01-06     0.000000     1.116667   0.0
2021-01-07     0.000000     1.093889   0.0
2021-01-08     1.091672     0.000000   0.0
...                 ...          ...   ...
2021-09-24     0.000000     0.913372   0.0
2021-09-27     0.000000     0.903752   0.0
2021-09-28     0.000000     0.980221   0.0
2021-09-29     0.996137     0.000000   0.0
2021-09-30     0.984063     0.000000   0.0

[182 rows x 3 columns]

In [222]:
ni

Timestamp('2021-01-14 00:00:00')